#root {
  max-width: 1280px;
  margin: 0 auto;

}

body {
  
  background-repeat: repeat;
  background-size: 200px;
  
}
.ulist {
  display:flex;
  flex-direction: column;
  padding:0;
  list-style: none;
}


input {
  margin-right: 0.5rem;
}


.card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
}




.button {
  margin-left: 15px;
}

.listDiv {
  border: 5px solid blue;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}